<article id="conteudo">
    <div id="estrategica">
        <label id="frente-titulo" for="lciclo">Frentes estratégicas</label>
                <br>
                <br>
        <div >
            <select class="selection-estrategica" > 
                <option value="ativo">BU</option>
            </select>
            <input id="campo-dados-frente" type="text" name="Ciclo" placeholder="Nome da frente" >
        </div>
        <br>
        <br>
        <div>
            <select class ="selection-estrategica"> 
                <option value="ativo">Ciclo</option>
            </select>
            <input id="campo-dados-frente" type="text" name="Ciclo" placeholder="Responsável"  >
        </div>
            <br>
            <br>
            <div class="botao">
                    <button class="save" type="submit">&#128190; Salvar</button>
                    <button class="enviar" type="submit">&#128459; Novo</button>
            </div>  
    </div>
    <div id="caixa-2">
        <div id="busca-estrategica">
            <label id="BuscaTitulo" for="found">Busca</label>
                <div id="primeira-parte"> 
                    <label id="cicloum-estrategica" for="cicloum">Ciclo</label>
                    <br>
                 <select id="campo-busca">
                 <option value="ativo">Contas</option>
                 </select>
                </div>
           <div class="caixa-busca-tabelas">
                <form  name="form "action="" method="post">
                    <input id="campo-buscar-estra" type="text" name="Ciclo" placeholder="Buscar" >  <button class="bt" type="submit">Buscar</button>
                    <br>
                    <br>
                    <select id="nome"> 
                        <option value="ativo">Nome</option>
                    </select>
                    <table>
                    <tr>
                        <td class="inativo">Contas</td>  
                    </tr>
                    <tr>
                        <td>Contas</td>                   
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td> 
                    </tr>
                    <tr>
                        <td>Contas</td>
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td> 
                    </tr>
                    <tr>
                        <td>Contas</td>
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td> 
                    </tr>
                    <tr>
                        <td>Contas</td>
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td> 
                    </tr>
                    <tr>
                        <td>Contas</td>
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td> 
                    </tr>
                    <tr>
                        <td>Contas</td> 
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td>                 
                    </tr>
                    <tr>
                        <td>Contas</td> 
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td>  
                    </tr>
                    <tr>
                        <td>Contas</td> 
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td>
                    </tr>
                    <tr>
                        <td>Contas</td> 
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td>
                    </tr>
                    <tr>
                        <td>Contas</td> 
                    </tr>
                    <tr>
                        <td class="inativo">Contas</td>
                    </tr>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        </article>
        
