<body>
<article id="conteudo">
    <div id="caixa-1">
            <div id="ciclo">
                <label id="CicloTitulo">Ciclo</label>
                <label id="statusCiclo" for="">Status</label>
                <form id="formCiclo" name ="form" action="" method="post" (ngSubmit)="Enviar()" #loginform="ngForm">
                  <div class="nome">
                    <input id="camponome"
                      [(ngModel)]="nome"
                      required #campoNome="ngModel"
                      name="nome"
                      class="inputform"
                      type="text"
                      placeholder="Nome"
                       >
                    <select name="status"  id="opAtivo">
                        <option value="" disabled selected>Selecione</option>
                        <option value="Ativo" >Ativo </option>
                        <option value="Inativo"  >Inativo</option>
                    </select>
                  </div>
                  <div class="datas">
                  <div class="primeiraData">
                    <input id="datacorte"
                      [(ngModel)]="datacorte"
                      #dataCorte="ngModel"
                      name="datacorte"
                      type="text"
                      class="inputform"
                      placeholder="Data de corte"
                      onfocus="(this.type='date')"
                      onblur="(this.type='text')"
                      id="date" required />
                    </div>
                    <div class="segundadata">
                      <!------INSERIR APP DE-->
                      <input id="datakr"
                      [(ngModel)]="datakr"
                      #dataKr="ngModel"
                      name="datakr"
                      type="text"
                      class="inputform"
                      placeholder="Data de KR"
                      onfocus="(this.type='date')"
                      onblur="(this.type='text')"
                      required />
                    </div>
                  </div>
                  <div class="ajustaBotao">
                      <button class="save" type="submit" (click)="executa()" value="submit"> Salvar</button>
                      <button class="enviar" type="reset"> Novo</button>
                </div>
                </form>
            </div>
    </div>
    <div id="caixa-2">
        <div id="busca">
            <label id="BuscaTitulo" >Busca</label>
            <br>
            <br>
            <form id="formbusca" name="form "action="" method="post">
                <input id="campobusca" type="text" name="Ciclo" placeholder="Buscar" > <button class="bt" type="submit">Buscar</button>
                <br>
                <br>
                <div class="select-ciclos">
                    <select id="nome-busca" style="width:46.8%">
                        <option value="ativo">Nome</option>
                    </select>
                    <select id="status-busca" style="width:48%">
                         <option value="ativo">Status</option>
                     </select>
                </div>
                     <div class="tabela">
                            <table id="tabela-ciclos-wid">
                                <tr>
                                    <td class="inativo">Contas</td>
                                    <td class="inativo">Inativo</td>
                                </tr>
                                <tr>
                                    <td>Contas</td>
                                    <td>Inativo</td>
                                </tr>
                                <tr>
                                    <td class="inativo">Contas</td>
                                    <td class="inativo">Ativo</td>
                                </tr>
                            </table>
                      </div>
                <br>
                <p id="of">1 of 1</p>
                <p id="unicode">&#9198; &#x25C0; 1 &#x25B6; &#x23ED;</p>
                  <div id="erro">
                    <app-mensagem *ngIf="campoNome.invalid && campoNome.touched" mensagem="Nome obrigatório "></app-mensagem>
                    <app-mensagem *ngIf="dataCorte.invalid && dataCorte.touched" mensagem="Preencha a data de corte" >  </app-mensagem>
                    <app-mensagem *ngIf="dataKr.invalid && dataKr.touched" mensagem="Preencha a data KR" ></app-mensagem>
                  </div>
          </form>
        </div>
    </div>
</article>
</body>
