<header>
    <a href="#" id="btn-abrir" onclick="abrirMenu()"> 
        <img id="menu" src="../../../assets/imagens/menu-hamburguer.png" alt=""> </a>
        <div class="icone-navbar">
            <img src="../../../assets/imagens/engranagem.png" alt="" >
            <img src="../../../assets/imagens/icone.png" alt="">
        </div> 
</header>
<nav id="menu">
    <a  > &#8962; Home </a>
    <a  > &#9776; Ciclos</a>
    <a  > &#9776; Unidade de Negócio</a>
   <a  > &#9776; Frente Estratégica</a>
   <a> &#9776; Detalhamento Frente Estratégicas</a>
</nav>
