<header>
    <a id="btn-abrir" (click)="abrirMenu()" > 
        <img id="" src="../../../assets/imagens/menu-hamburguer.png" alt=""> </a>
        <div class="icone-navbar">
            <img src="../../../assets/imagens/engranagem.png" alt="" >
            <img src="../../../assets/imagens/icone.png" alt="">
        </div> 
</header>
<nav id="menu">
    <a routerLink="/home" > &#8962; Home </a>
    <a routerLink="/paginaciclo" > &#9776; Ciclos</a>
    <a routerLink="/unidade" > &#9776; Unidade de Negócio</a>
   <a routerLink="/frente-estrategica"> &#9776; Frente Estratégica</a>
   <a routerLink="/detalhamento"> &#9776; Detalhamento Frente Estratégicas</a>
</nav>
