<article id="conteudo">
    <div id="caixa-1">
        <div id="ciclo-unidade">
            <label id="unidade-titulo" for="lciclo">Unidade de Negócios</label>
           <br>
           <br>
            <form name ="form" action="" method="post">

                 <input id="nome-unidade-negocio" type="text" name="Busca" placeholder="Nome" >
                <br>
                <br>
                <div class="botaos">
                    <button class="save" type="submit">&#128190; Salvar</button>
                    <button class="enviar" type="submit">&#128459; Novo</button>
            </div>
            </form>
        </div>
    </div>
        <div id="caixa-2">
            <div id="busca-unidade">
                <label id="BuscaTitulo" for="lbusca">Busca</label>
                    <br>
                    <br>
                <form id="tabela-unidade" name="form" action="" method="post">
                    <input id="busca-ciclo" type="text" name="Ciclo" placeholder="Buscar" >  <button class="bt" type="submit">
                        &#128269; Buscar</button>
                    <br>
                    <br>
                        <select id="nome">
                            <option value="ativo">Nome</option>
                        </select>
                    <table>
                        <tr>
                            <td class="inativo">Contas</td>
                        </tr>
                        <tr>
                            <td>Contas </td>
                        </tr>
                        <tr>
                            <td class="inativo">Contas</td>
                        </tr>
                        <tr>
                            <td>Contas </td>
                        </tr>
                        <tr>
                            <td class="inativo">Contas</td>
                        </tr>
                        <tr>
                            <td>Contas </td>
                        </tr>
                        <tr>
                            <td class="inativo">Contas</td>
                        </tr>
                        <tr>
                            <td>Contas </td>
                        </tr>
                        <tr>
                            <td class="inativo">Contas</td>
                        </tr>
                        <tr>
                            <td>Contas </td>
                        </tr>
                        <tr>
                            <td class="inativo">Contas</td>
                        </tr>
                    </table>
                    <p id="of">1 of 1</p>
                    <p id="unicode">&#9198; &#x25C0; 1 &#x25B6; &#x23ED;
                       </p>
                </form>
            </div>
        </div>
</article>
