<article id="conteudo">
    <div id="div-detalhamento">
        <label id="detalhamento-frente" for="">Detalhamento Frentes estratégicas</label>  
<div class="caixas">     
    <div class="selection">
        <select class="select-detalha" > 
            <option value="ativo">BU</option>
        </select>
        <select class="select-detalha"> 
            <option value="ativo">Frente</option>
        </select>
        <input class="select-detalha" type="text" name="Ciclo" placeholder="Resultado chave da frente" >
        
            </div> 
            <div class="selection-2">
                <select class="select-detalha-2"> 
                    <option value="ativo">Peso</option>
                </select>
                <select class="select-detalha-2"> 
                    <option value="ativo">Polaridade</option>
                </select>
                <select class="select-detalha-2"> 
                    <option value="ativo">Medida</option>
                </select>
                <br>
            </div>
            <div class="sem-historico">
                <div class="forms-sem-historico">
                    <input id="form-itens" type="text"  placeholder="Baseline" >
                    <input id="form-itens" type="text"  placeholder="Dono KR" >
                </div>  
                <div class="textareaT">
                <textarea id="msg"  style="resize: none;" ng-model="myTextarea" placeholder="Detalhamento"></textarea>
                <textarea id="msg"  style="resize: none;" ng-model="myTextarea" placeholder="Memoria de calculo"></textarea>
            </div>
            </div>
            <div class="objetivos-metas">
                <p id="titulo">Objetivos e meta</p>
                <hr id="primeirohr">
                <div class="itens-obj-metas">
                    <input id="itens-obj" type="text"  placeholder="Meta do ciclo" size="23">
                    <input id="itens-obj" type="text"  placeholder="Submeta" size="22">
                    <input id="itens-obj" type="text"  placeholder="% de Submeta" size="22">
                    
                </div>
            </div>  
            <div class="curva-mensal">
                <p id="titulo">Curva mensal</p>
                <hr id="segundohr">
                <div class="itens-curva">
                    <input id="itens-curva"  type="month">
                    <input id="itens-curva"  type="text"  placeholder="Meta mês" size="23">
                    <button id="itens-curva" class="adicionar" type="submit">&#43; Adicionar </button>
                </div>
            </div> 
            <div class="curva-mensal-mes">
                <div class="itens-mes">
                        <select id="itens-mes"> 
                            <option value="ativo">Mês/Ano</option>
                        </select>
                        <select id="itens-mes" >
                            <option value="ativo">Meta</option>
                        </select>
                        <select id="itens-mes">
                            <option value="ativo">Alcançado</option>
                        </select>
                </div>
            </div>
            <p id="p-nome-busca">Nenhum registro encontrado</p>
            <div class="footer-div">
                <p id="unicode-2">&#9198; &#x25C0; 1 &#x25B6; &#x23ED;</p>
            </div>           
    </div>  
            <div class="botao">
                <button class="save" type="submit">&#128190; Salvar</button>
                <button class="enviar" type="submit">&#128459; Novo</button>
            </div>   
        </div>

        <!------CAIXA 2 - >       'BUSCA'          -->
         <!--------------------------------------------->

    <div id="caixa-2">
        <div id="busca-detalhamento">
                <label id="ciclo-detalhamento" for="cicloum">Ciclo</label> 
                <div id="primeira-parte-caixa-2"> 
                        <label id="found" for="found">Busca</label> 
                    <div id="primeira-parte-caixa-3">
                        <select id="contas-parte-3">
                            <option value="ativo">Contas</option> 
                        </select>
                        <button id="contas-parte-4" type="submit">&#128459; Exportar </button>
                    </div>
                </div>
                <br>
                 <!--TABELA r-->
            <div id="tabela-busca">
                <form  name="form "action="" method="post"> 
                    <div class="bus-lupa">          	
                    &#128269;  <input id="buscar-detlha" type="text" name="Ciclo" placeholder="Buscar" size="20">  
                </div>
                       <div class="pular"></div>
                        
                    <table id="primeira-parte">
                        <tr>
                            <td id="a-bu">BU</td> 
                            <td id="a">Frente</td>
                            <td id="a">Nome da meta</td>
                            <td id="a">Peso</td>
                            <td id="a">Meta</td>
                            <td id="a">Submeta</td>
                        </tr>
                    </table>
                </form>
            </div>
                    <table id="segunda-parte">
                        <tr>
                            <td class="inativo">&#5171; Contas</td> 
                        </tr>
                        <tr>
                            <td class="ativo">&#5171; Contas</td>                   
                        </tr>
                        <tr>
                            <td class="inativo">&#5171; Contas</td>
                        </tr>
                        <tr>
                            <td class="ativo" >&#5171; Contas</td>
                        </tr>
                    </table>
                    <br>
                    <p id="of">1 of 1</p>
                    <div class="footer-div-busca">
                        <p id="unicode-2">&#9198; &#x25C0; 1 &#x25B6; &#x23ED;</p>
                    </div>         
        </div>
    </div>
</article>

